:root {
    --sfondo-blu: blue;
    --sfondo-verde: green;
    --bordo-bianco: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    color: white;
}

.sfondo-blu {
    background-color: var(--sfondo-blu);
}

.sfondo-verde {
    background-color: var(--sfondo-verde);
}

.bordo-bianco {
    border: 1px solid var(--bordo-bianco);
}

[class *="row"] {
    min-width: 75px;
    line-height: 75px;
}

.testo-centrato {
    text-align: center;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.padding {
    padding: 1em;
}

.mr {
    margin-right: 1px;
}

.mb {
    margin-bottom: 3em;
}